DB_HOST=your_db_host
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

PORT=3000
NODE_ENV=development
JWT_ACCESS_SECRET=my_super_secret_jwt_key
JWT_REFRESH_SECRET=my_super_secret_jwt_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=example@gmail.com
MAIL_PASSWORD=password

REDIS_HOST=redis
REDIS_PORT=6379


MERCADO_PAGO_ACCESS_TOKEN=TEST-xxxxxxxxxxxxxxxx
FRONTEND_URL=http://localhost:5173
BACKEND_URL=https://tu-backend-publico.com